<div class="row info__background d-flex justify-content-center container">
  <div class="row d-flex flex-grow-1 info__row__body info__row content">
    <div class="info__row-body-text content">
      <p class="info__title__subtitle">
        <span class="info__title">Asse 2 Azione 3.1</span><br />
        <span class="info__subtitle">Progetto AVATAR</span>
      </p>
      <div class="info__strong-text">
        <p>Progetto finanziato dal Programma Operativo POR FESR 2014-2020 Asse 2 “Agenda digitale"</p>
        <p>
          Azione 2.3.1 “Soluzioni tecnologiche per l’alfabetizzazione e l’inclusione digitale, per l’acquisizione di
          competenze avanzate da parte delle imprese e lo sviluppo delle nuove competenze ICT (eSkills)”
        </p>
        <p>Progetto AVATAR – Alto Vicentino: Alleanza Territoriale per Azioni in Rete</p>
      </div>
      <div class="info__text">
        <p>
          Il progetto AVATAR – Alto Vicentino: Alleanza Territoriale per Azioni in Rete punta allo sviluppo della
          cultura digitale e di nuovi servizi tecnologici per cittadini, imprese, enti e pubblica amministrazione. Il
          progetto nasce con l’obiettivo di fare sistema, capitalizzando i già numerosi momenti di confronto e percorsi
          di collaborazione e partnership tra gli attori pubblici e privati che operano nel territorio dell’Alto
          Vicentino.
        </p>
        <p>
          AVATAR è gestito dal Comune di Schio unitamente ad altri 11 Comuni dell’Alto Vicentino (Isola Vicentina, Malo,
          Marano Vicentino, Monte di Malo, San Vito di Leguzzano, Santorso, Thiene, Torrebelvicino, Valdagno, Villaverla
          e Zugliano) per un totale di circa 155.000 abitanti.
        </p>
        <p>Gli obiettivi del progetto:</p>
        <ul>
          <li>
            Creare e diffondere nell’Alto Vicentino un “Laboratorio di innovazione aperta” (Innovation Lab) come luogo
            di incontro e di partecipazione attiva
          </li>
          <li>
            Favorire un approccio partecipato alla creazione, all’ammodernamento e alla diffusione di servizi pubblici
            digitali, grazie anche a P3@ – Palestre Digitali
          </li>
          <li>
            Diffondere la cultura e l’utilizzo degli opendata degli enti pubblici tra cittadini e imprese, allo scopo di
            favorire la partecipazione delle comunità territoriali alla vita delle PP.AA. locali oltre che di
            incentivare le imprese a sviluppare nuovi servizi digitali anche con l’ausilio dei Dati Aperti (Open Data)
          </li>
          <li>
            Accrescere il numero di cittadini che usano internet e aumentarne la consapevolezza relativamente alle
            potenzialità del “digitale” attraverso la diffusione della cultura degli Open Data
          </li>
        </ul>
        <p>
          Gli ambiti di intervento di progetto AVATAR sono cinque: formazione e istruzione, socio-sanitario, impresa,
          terzo settore e pubblica amministrazione.
        </p>
        <p>Sostegno pubblico concesso: € 700.000,00</p>
        <p>
          <a href="https://bur.regione.veneto.it/BurvServices/pubblica/DettaglioDgr.aspx?id=391112" target="_blank"
            >Bur n. 30 del 29 marzo 2019</a
          >
        </p>
        <p>
          <a href="https://bandi.regione.veneto.it/Public/Dettaglio?idAtto=3457" target="_blank"
            >Dettagli e documenti bando</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
