<div class="row h-100 index__container mb-3">
  <div class="col h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="p-5">
        <p>La webapp fornisce un elenco di Fontanelle presenti nel territorio dell’Altovicentino.</p>

        <div>
          <p>Tramite la webapp è possibile</p>
          <ul>
            <li>cercare una Fontanella tramite una delle seguenti modalità</li>
            <ul>
              <li>
                per parola chiave, inserendo una parola (ad esempio “via Aldo Moro”) e premendo il pulsante "Ricerca"
              </li>
              <li>
                per parola chiave e per vicinanza alla propria posizione, inserendo una parola e premendo il pulsante
                "Geo Ricerca"
              </li>
              <li>per categoria, scegliendo uno dei pulsanti categoria disponibili</li>
            </ul>
            <li>visualizzare le informazioni relative ad una data Fontanella</li>
            <li>inserire una nuova Fontanella con i relativi dati.</li>
          </ul>
        </div>
      </div>
      <div class="flex-grow-1"></div>
    </div>
  </div>
</div>
