<nav class="navbar navbar-expand navbar-light bg-white">
  <div class="container d-flex flex-row justify-content-center">
    <div class="d-flex align-items-end justify-content-center footer__logo">
      <a [routerLink]="'/info'">
        <img
          src="/assets/images/POR-FESR_BANNER_Siti-web_20191219.png"
          alt="Informazioni su POR-FESR"
          class="footer__por-fesr"
        />
      </a>
    </div>
    <div class="footer__link mr-1">
      <p>Fonte dati : <a href="https://dati.veneto.it/" target="_blank">Portale Open Data Veneto</a></p>
    </div>
  </div>
</nav>
